body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

li, .main-list {
    text-align: center;
    list-style-type: none;
    
}

.main-list a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}